/* stylelint-disable-next-line unit-blacklist */

body {
   height: 3000px;
   margin: auto;
}

h1 {
   color: rgb(251, 30, 30);
   text-align: center;
   padding: 20px;
   font-size: 100px;
   font-family: Creepster, cursive;
   border: rgb(226, 26, 26);
   box-shadow: 0 0 55px rgb(226, 26, 26);
}

.one {
   padding: 20px;
   line-height: 26pt;
   color: rgb(255, 255, 255);
   margin-left: 939px;
   font-size: 16px;
   text-align: justify;
   font-family: 'Gloria Hallelujah', cursive;
   margin-top: -1085px;
}

.pageone {
   width: 1125px;
   height: 1125px;
   position: relative;
   left: -148px;
   margin-top: -10px;
}

.pagetwo {
   justify-content: center;
   row-gap: 200px;
   align-content: center;
   display: flex;
   flex-direction: row;
}

.pagethree {
   color: rgb(251, 60, 60);
   text-align: center;
   font-family: Creepster, cursive;
   padding: 90px;
   font-size: 36px;
}

.pagefoure {
   color: rgb(251, 60, 60);
   text-align: center;
   font-family: Creepster, cursive;
   display: block;
   padding: 20px;
   font-size: 36px;
}

html {
   background: linear-gradient(to right, rgb(67, 9, 9), rgb(0, 0, 0)) 0 0 / cover;
   scroll-behavior: smooth;
   margin: auto;
}

li {
   margin-bottom: 30px;
   font-size: 16px;
   font-family: 'Gloria Hallelujah', cursive;
   color: rgb(255, 255, 255);
   padding: 1px;
   text-align: center;
}

.rami {
   width: 850px;
   height: 800px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
}
