html {
   background: rgb(53, 52, 52) linear-gradient(to right, rgb(67, 9, 9), rgb(0, 0, 0)) 0 0 / cover;
   margin: auto;
}

body {
   margin: auto;
}

h1 {
   color: rgb(251, 30, 30);
   text-align: center;
   padding: 20px;
   font-size: 100px;
   font-family: Creepster, cursive, sans-serif;
   border: rgb(226, 26, 26);
   box-shadow: 0 0 55px rgb(226, 26, 26);
}

li {
   margin-bottom: 30px;
   font-size: 16px;
   font-family: 'Gloria Hallelujah', cursive, sans-serif;
   color: rgb(255, 255, 255);
   padding: 1px;
   text-align: center;
}

.one {
   padding: 20px;
   line-height: 26px;
   color: rgb(255, 255, 255);
   font-size: 16px;
   text-align: justify;
   font-family: 'Gloria Hallelujah', cursive, sans-serif;
}

.page-one {
   width: 1125px;
   height: 1125px;
   text-align: center;
   margin: auto;
   display: block;
}

.copy {
   color: white;
   font-size: 13px;
}

.page-two {
   justify-content: center;
   row-gap: 200px;
   align-content: center;
   flex-direction: row;
   display: flex;
}

.right {
   color: white;
   font-size: 13px;
}

.page-three {
   color: rgb(251, 60, 60);
   text-align: center;
   font-family: Creepster, cursive, sans-serif;
   padding: 90px;
   font-size: 36px;
}

.page-foure {
   color: rgb(251, 60, 60);
   text-align: center;
   font-family: Creepster, cursive, sans-serif;
   display: block;
   padding: 20px;
   font-size: 36px;
}

.rami {
   width: 990px;
   height: 900px;
   margin: auto;
   display: flex;
}

.copy-right {
   color: white;
   font-size: 13px;
}
